{% extends "base.html" %}

{% block content %}
      &nbsp
    <div class="container">
              &nbsp
        <div class="columns is-centered">
          <div class="column is-half">
            <h1>Elige el tipo de cuenta que deseas</h1>
                    &nbsp
                    &nbsp
            <a class="button is-link is-centered" href="/registro/cliente">Cliente</a>
                    &nbsp
            <a class="button is-link" href="/registro/colaborador">Repartidor</a>
          </div>
        </div>
    </div>
    <ul>
        <li><a href="{% url 'home' %}">Inicio</a></li>
    </ul>
{% endblock %}
