{% extends "base.html" %}
{% block content %}
    <hr>
    <h3 class="title"> Pedido con el código: {{ object.pk}} </h3>
    <ul>
      <li><strong>Repartidor:</strong> {{ object.repartidor.user_profile.user.get_full_name }} </li>
      <li><strong>Número del Repartidor:</strong> {{ object.repartidor.user_profile.numero }}</li>
      <li><strong>Distrito:</strong> {{ object.localizacion.distrito }}</li>
      <li><strong>Dirección de Entrega:</strong> {{ object.direccion_entrega }}</li>
      <li><strong>Fecha de Creación:</strong> {{ object.fecha_creacion }}</li>
        {% if object.fecha_entrega is None%}
            <li><strong>Fecha de Entrega:</strong> Pendiente de entrega</li>
        {% else %}
            <li><strong>Fecha de Entrega:</strong> {{ object.fecha_entrega }}</li>
        {% endif %}
      <li><strong>Estado del Pedido:</strong> {{ object.estado }}</li>
        {% if object.tarifa == 0%}
            <li><strong>Tarifa de envío: </strong> Precio por definir</li>
        {% else %}
            <li><strong>Tarifa de envío:</strong> {{ object.tarifa }} $</li>
        {% endif %}
      <li><strong>Precio Total del Pedido:</strong> {{ object.get_total }} $</li>
      <li><strong>Tipo de Comprobante:</strong> {{ object.tipo_comprobante }}</li>
    </ul>

<div class="block">
        <h5><strong> Detalle de su Pedido: </strong></h5>
        <div class="content">
            <ul>
              {% for detalle in detallespedido %}
                <li>
                  {{ detalle }}
                    <label>| Cantidad: </label>
                    {{ detalle.cantidad }}
                </li>
                {% empty %}
                <hr3>No tienes productos en tu carrito</hr3>
              {% endfor %}
            </ul>
        </div>
    </div>
    &nbsp
    <ul >
    {% if object.estado == 'Entregado' %}
        <li></li>
    {% elif object.estado == 'Cancelado' %}
        <li>Recuerde llamar a Atención al Cliente para coordinar el reembolso de su pedido.</li>
    {% else %}
     <a href="{% url 'pedido-cancelado' pedido.pk %}" class="button is-danger is-rounded ">
     Cancela tu pedido
     </a>
    {% endif %}
    </ul>
&nbsp
    <ul >
    {% if object.estado == 'Entregado' %}
        <li>Esperamos que disfrutes tu pedido. Recuerde que para las devoluciones debe acercarse directamente a las oficinias de Linio Express</li>
    {% elif object.estado == 'Cancelado' %}
        <li></li>
    {% elif object.estado == 'En Proceso' %}
        <li></li>
    {% else %}
     <a href="{% url 'pedido-entregado' pedido.pk %}" class="button is-primary is-rounded ">
     Confirmar Entrega de tu Pedido
     </a>
    {% endif %}
    </ul>
    <hr>
<ul>
            Atención al cliente: 990154244
        </ul>
<ul>
            Dirección de Oficinas Linio Express: Av. Comercios 154
        </ul>
    <ul>
      <li><a href="{% url 'pedido-list' %}">Ver Lista de tus Pedidos</a></li>
      <li><a href="{% url 'home' %}">Inicio</a></li>
    </ul>
{% endblock %}